<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    {{#link-to "index" class="navbar-brand"}}CrimeIsDown.com{{/link-to}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {{#link-to "map" id="map-link" class="nav-link"}}Incident Map{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "audio" id="audio-link" class="nav-link"}}Scanner Audio{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "guide" id="guide-link" class="nav-link"}}Scanner Guide{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "directives" id="directives-link" class="nav-link"}}Police Directive Changes{{/link-to}}
        </li>
        <li class="nav-item">
          <a href="https://blog.crimeisdown.com" id="blog-link" class="nav-link">Blog</a>
        </li>
      </ul>
    </div>
    <label class="form-check-label text-light">
      <input type="checkbox" class="form-check-input" id="nightmodetoggle">
      Night Mode
    </label>
    <script>
      // @TODO: Move to actual .js file

      $(function () {
        function toggleStylesheets(dark = false) {
          if (dark) {
            $('link[title="Dark Theme"]').attr('disabled', false);
            $('link[title="Default Theme"]').attr('disabled', true);
            localStorage.setItem('dark', true);
          } else {
            $('link[title="Default Theme"]').attr('disabled', false);
            $('link[title="Dark Theme"]').attr('disabled', true);
            localStorage.removeItem('dark');
          }
        }

        if (localStorage.getItem('dark')) {
          $("#nightmodetoggle").click();
          toggleStylesheets(true);
        }
        $("#nightmodetoggle").click(function () {
          toggleStylesheets(this.checked);
        });
      });
    </script>
  </nav>
</header>
