<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    {{#link-to "index" class="navbar-brand"}}<i class="em em-rotating_light"></i> Sirens{{/link-to}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {{#link-to "map" id="map-link" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}Incident Map{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "audio" id="audio-link" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}Scanner Audio{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "guide" id="guide-link" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}Scanner Guide{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "directives" id="directives-link" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}Police Directive Changes{{/link-to}}
        </li>
        <li class="nav-item">
          <a href="https://blog.crimeisdown.com" id="blog-link" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">Blog</a>
        </li>
        <li class="nav-item">
          {{#if session.isAuthenticated}}
            <a class="nav-link" href="javascript:" {{action "logout"}} title="Logged in as {{session.data.authenticated.email}}">Logout</a>
          {{else}}
            {{#link-to "login" id="login-link" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}Login{{/link-to}}
          {{/if}}
        </li>
      </ul>
      <form class="form-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" id="nightmodetoggle">
          Night Mode
        </label>
      </form>
    </div>
    <script>
      // @TODO: Move to actual .js file

      $(function () {
        function toggleStylesheets(dark = false) {
          $('html').toggleClass('dark', dark !== false);
          for (var i = document.styleSheets.length-1; i >= 0; i--){
            var styleSheet = document.styleSheets[i];
            if (styleSheet.ownerNode.id === "defaulttheme") {
              styleSheet.disabled = (dark !== false);
            } else if (styleSheet.ownerNode.id === "darktheme") {
              styleSheet.disabled = (dark === false);
            }
          }
          if (dark) localStorage.setItem('dark', true);
          else localStorage.removeItem('dark');
        }

        if (localStorage.getItem('dark')) {
          $("#nightmodetoggle").attr('checked', true);
        }
        toggleStylesheets(localStorage.getItem('dark') !== null);
        $("#nightmodetoggle").click(function () {
          toggleStylesheets(this.checked);
        });
      });
    </script>
  </nav>
</header>
