<footer id="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5">
        <p>
          Copyright &copy; 2014-2019 CrimeIsDown.com. All Rights Reserved.
        </p>
      </div>
      <div class="col-sm-7">
        <a href="https://twitter.com/CrimeIsDown">Follow on Twitter</a> |
        <a href="https://www.facebook.com/crimeisdown">Like on Facebook</a> |
        <a href="https://www.patreon.com/EricTendian">Support on Patreon</a> |
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=4SHEMCHJPV8KY&lc=US&item_name=CrimeIsDown%2ecom&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted">Donate thru Paypal</a> |
        <a href="https://status.crimeisdown.com/">Site Status</a>
      </div>
    </div>
  </div>
</footer>
