<form id="recordingsearch" action="https://audio.crimeisdown.com/download-audio.php" method="get" target="_blank">
  <div class="form-group">
    <label for="cpdfeed">CPD radio channel</label>
    <select name="feed" id="cpdfeed" class="form-control" required>
      <option value="" disabled selected>Select channel</option>
      <option value="citywide1">Citywide 1</option>
      <option value="citywide2">Citywide 2</option>
      <option value="citywide6">Citywide 6</option>
      <option value="zone1">Zone 1 (016/017)</option>
      <option value="zone2">Zone 2 (019)</option>
      <option value="zone3">Zone 3 (012/014)</option>
      <option value="zone4">Zone 4 (001/018)</option>
      <option value="zone5">Zone 5 (002)</option>
      <option value="zone6">Zone 6 (007/008)</option>
      <option value="zone7">Zone 7 (003)</option>
      <option value="zone8">Zone 8 (004/006)</option>
      <option value="zone9">Zone 9 (005/022)</option>
      <option value="zone10">Zone 10 (010/011)</option>
      <option value="zone11">Zone 11 (020/024)</option>
      <option value="zone12">Zone 12 (015/025)</option>
      <option value="zone13">Zone 13 (009)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="datetimepicker">Time of recording</label>
    <div class="input-group date">
      {{ember-flatpickr
        name="datetime"
        id="datetimepicker"
        allowInput=true
        classNames="form-control"
        defaultDate=this.options.defaultDate
        enableTime=this.options.enableTime
        dateFormat=this.options.dateFormat
        minuteIncrement=this.options.minuteIncrement
        minDate=this.options.minDate
        date=(readonly this.options.defaultDate)
        onChange=null
      }}
      <div class="input-group-append">
        <span class="input-group-text"><span class="fa fa-calendar"></span></span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="audioformat">Audio format</label>
    <select name="format" id="audioformat" class="form-control">
      <option value="" selected>Default (auto-detect)</option>
      <option value="aac">AAC, .aac</option>
      <option value="caf">Opus, .caf (for iOS/MacOS)</option>
      <option value="ogg">Opus, .ogg (for non-iOS)</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Get recording</button>
  </div>
  <p><em>Please note: the recording will start at the top of the hour and may not always last a full hour due to various technical issues.</em></p>
</form>
