<h5>{{stream}}</h5>
<audio id="audio-player-{{stream}}" controls></audio>
<div class="form-group">
  <button onclick={{action "seek" -10}} class="btn btn-info">Rewind 10s</button>
  <button onclick={{action "seek" 999}} class="btn btn-danger">Live</button>
</div>