<form action="https://audio.crimeisdown.com/download-audio.php" method="get">
  <label>
    CPD radio channel
    <select name="feed" required>
      <option value="" disabled selected>Select channel</option>
      <option value="citywide1">Citywide 1</option>
      <option value="citywide2">Citywide 2</option>
      <option value="citywide6">Citywide 6</option>
      <option value="zone1">Zone 1</option>
      <option value="zone2">Zone 2</option>
      <option value="zone3">Zone 3</option>
      <option value="zone4">Zone 4</option>
      <option value="zone5">Zone 5</option>
      <option value="zone6">Zone 6</option>
      <option value="zone7">Zone 7</option>
      <option value="zone8">Zone 8</option>
      <option value="zone9">Zone 9</option>
      <option value="zone10">Zone 10</option>
      <option value="zone11">Zone 11</option>
      <option value="zone12">Zone 12</option>
      <option value="zone13">Zone 13</option>
    </select>
  </label>
  <label>
    Get recording for particular time
    <input type="text" name="datetime" value="" id="datetimepicker" required>
  </label>
  <input type="submit">
</form>