<div class="col-lg-12">
  <h1>Chicago Police Department Directive Changes</h1>
  <p>Diffs on all CPD directives updated since 2015. View the raw diffs on <a href="https://github.com/CrimeIsDown/cpd-directives">GitHub</a>.</p>
  <div class="alert alert-warning" role="alert">
    Due to changes with the CPD directives website that impact our ability to scrape it, this list has not been updated since 2021. Refer to the <a href="https://directives.chicagopolice.org/#search">Search page of the official CPD directives website</a> to see the most recent directives.
  </div>

  <p><strong>View what a directive looked like on a given date:</strong></p>
  <form id="findDirectiveForm" class="row" aria-label="Directive viewer" method="post" {{on "submit" this.submitFindDirectiveForm}}>
    <div class="col-sm">
      <label class="sr-only" for="url">
        CPD directive URL
      </label>
      <div class="input-group mb-2 me-sm-2">
        <span class="input-group-text">URL</span>
        <input class="form-control" size="50" type="url" name="url" id="url" placeholder="http://directives.chicagopolice.org/directives/data/...">
      </div>
    </div>
    <div class="col-sm">
      <label class="sr-only" for="date">
        Version as of date
      </label>
      <div class="input-group mb-2 me-sm-2">
        <span class="input-group-text">Date</span>
        <input class="form-control" type="date" name="date" id="date">
      </div>
    </div>
    <div class="col-sm">
      <button type="submit" class="btn btn-primary mb-2">Open</button>
    </div>
  </form>

  <table id="directives" class="table">
    <thead></thead>
    <tbody>
    <h3>Loading...</h3>
    </tbody>
  </table>
</div>

<div class="modal fade" id="directiveViewer" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Directive Name</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="primaryDiffView" class="modal-body">
        <iframe id="directiveFrame" title="Directive contents"></iframe>
      </div>
      {{!-- template-lint-disable no-inline-styles --}}
      <div id="sideBySideView" class="modal-body row" style="display: none">
        <div class="col-md-6">
          <h5 class="text-center">Old</h5>
          <iframe id="oldVersion" title="Old directive contents"></iframe>
        </div>
        <div class="col-md-6">
          <h5 class="text-center">New</h5>
          <iframe id="newVersion" title="New directive contents"></iframe>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <div>
          <a id="no-highlights-btn" href="#" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-info">View without highlights</a>
          <a id="switch-diff-view" href="#" class="btn btn-sm btn-info">Toggle side-by-side view</a>
        </div>
        <div>
          <div class="input-group">
            <label for="link" class="input-group-text">Shareable link</label>
            <input id="link" name="link" type="text" class="form-control" readonly>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
