{{#unless hasSeenAlert}}
<div id="news-alert" class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>Welcome to the updated site!</strong> Some older browsers are no longer supported, so make sure you are using the latest version of Chrome or Firefox for the best experience.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/unless}}