{{#unless this.hasSeenAlert}}
<div id="news-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
  The website is experiencing extremely high load. Visit <a href="https://www.youtube.com/channel/UCUS-tAwCyxBrrA3FtSjH2NA/live">CrimeIsDown's YouTube stream</a> to listen to radio traffic for protests in Chicago.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/unless}}
