<div class="modal fade" id="transcriptNotifications" tabindex="-1" aria-labelledby="transcriptNotificationsLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="transcriptNotificationsLabel">Notification Settings</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <NotificationSettings />
      </div>
    </div>
  </div>
</div>
