<h3>Live streaming from CrimeIsDown (Beta)</h3>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="streamlist">Select a stream to play</label>

      <fieldset onchange={{action "changeStreams" value="target"}} id="streamlist" style="width:auto">
        <legend>Select a stream</legend>
        {{#each streams as |streamOption|}}
          <div class="checkbox">
            <label><input type="checkbox" name="stream" value={{streamOption}}> {{streamOption}}</label>
          </div>
        {{/each}}
      </fieldset>
    </div>
  </div>
  <div class="col-md-6">
    <canvas></canvas>
    {{#each enabledStreams as |stream|}}
      {{#audio-stream stream=stream}}
      {{/audio-stream}}
    {{/each}}
  </div>
</div>