body {
  &.ember-application:not(.show-loading) {
    #loading-indicator {
      display: none;
    }
  }
}

body {
  padding-top: 3.4rem;
  > .container,
  > .container-fluid {
    padding-top: 1.6rem;
  }
}

@include media-breakpoint-between(lg, xl) {
  body {
    padding-top: 4.4rem;
    > .container,
    > .container-fluid {
      padding-top: 2rem;
    }
  }
}

#loading-indicator {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  .spinner-border {
    position: fixed;
    left: 50%;
    top: 50%;
  }
}
