body {
  &.ember-application:not(.show-loading) {
    #loading-indicator {
      display: none;
    }
  }
}

body {
  padding-top: 3.4rem;
  > .container,
  > .container-fluid {
    padding-top: 1.6rem;
  }
}

@include media-breakpoint-between(lg, xl) {
  body {
    padding-top: 4.4rem;
    > .container,
    > .container-fluid {
      padding-top: 2rem;
    }
  }
}

#loading-indicator {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  .spinner-border {
    position: fixed;
    left: 50%;
    top: 50%;
  }
}

iframe#scanner-guide {
  width: 100%;
  height: 1000px;
  border: none;
}

iframe#openmhz-iframe {
  width: 100%;
  height: 60vh;
  border: none;
}

iframe#youtube-player {
  width: 100%;
  height: 315px;
  border: none;
  overflow: hidden;
  margin-bottom: 1em;
}

audio {
  max-width: 100%;
  max-height: 3em;
}

html.android {
  body {
    margin-top: 1em;
    font-weight: 400 !important;
    text-rendering: geometricPrecision;
  }
  footer#site-footer {
    display: none;
  }
}

nav.navbar .form-inline .form-check-label {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.em {
  height: 1.25rem;
  width: 1.25rem;
  vertical-align: text-top;
}

.alert {
  p {
    margin: 0;
  }
  a {
    text-decoration: underline;
  }
}

#news-alert {
  border-radius: 0;
  margin-bottom: 0;
}

#searchpane {
  padding-right: 30px;
}

.table {
  th, td {
    padding: 0.25rem !important;
  }
}

ul.nav.nav-tabs {
  margin-top: -1.5rem;
  padding-top: 0.5rem;
  li:first-child {
    margin-left: 1rem;
  }
}

.nav-close {
  display: inline-block;
  padding-right: 1.75rem;
  & + span {
    position: relative;
    display: inline-block;
    margin-left: -2rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
  }
}

.modal-fullwidth {
  max-width: 98% !important;
}

.accordion {
  --bs-accordion-active-color: var(--bs-white);
  --bs-accordion-active-bg: var(--bs-gray-800);
  --bs-accordion-btn-color: var(--bs-gray-300);
  --bs-accordion-btn-bg: var(--bs-gray-800);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dee2e6'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-border-width: 0;
}

.map-container {
  .leaflet-container {
    height: 80vh;
    color: #000;
    .leaflet-control-layers-list label {
      margin-bottom: 0.5rem;
    }
    .info.leaflet-control {
      background: rgba(var(--bs-dark-rgb), 0.7);
      padding: 0.5em 1em;
      text-align: right;
      h4, p {
        color: var(--bs-light);
        margin: 0.25em 0;
      }
      p {
        font-size: 1rem;
      }
    }
    .leaflet-popup-content h4 {
      font-size: 1rem;
    }
    .leaflet-popup-content p {
      margin: 0;
    }
    .leaflet-control-geosearch.bar {
      z-index: 1000;
      max-width: 400px;
      width: 100%;
      position: relative !important;
    }
    .awesome-marker i {
      font-size: 1rem;
    }
  }
  .tab-pane > iframe {
    width: 100%;
    height: 80vh;
    border: none;
  }
}
.search-container {
  #address-search {
    table tr > td {
      width: 50%;
    }
  }

  .accordion {
    .accordion-item {
      border: none;
      .accordion-header {
        .draggable-handle {
          cursor: pointer;
          color: #777;
          position: absolute;
          top: 0;
          right: 0;
          padding: 0.5rem 1rem;
        }
      }
      .accordion-body {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  h3 {
    margin-top: 0;
  }

  label {
    display: block;
  }
}

#radio-search,
#ucr-search {
  form label {
    font-weight: bold;
    font-style: italic;
  }
  .results {
    margin-top: 1em;
    tr > th {
      width: 33.33333%;
    }
  }
}

#online-streams-list ul {
  line-height: 1;
}


#site-footer {
  margin-top: 1rem;
  .col-sm-7 {
    text-align: right;
  }
}

.articles-list article {
  max-width: 48rem;
}

th.rd-day-head {
  width: 2rem;
}

input#datetimepicker[readonly] {
  background-color: var(--bs-white);
}

input.flatpickr-mobile {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.stream-options {
  label {
    cursor: pointer;
    margin-bottom: 0.2rem;
  }
}

.stream {
  .title {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
  .row + audio {
    margin-top: 0.5rem;
  }
}

.stream-player {
  height: 40px;
  width: 200px !important;
}

.draggable-parent {
  width: 230px;
  height: 216px;
  margin-bottom: 1em;
  border: 2px solid var(--bs-secondary);
  position: relative;
  background: var(--bs-gray-100);
  .fa-user {
    position: absolute;
    transform: translate(108px, 100px);
  }
  .fa-volume-high {
    vertical-align: -0.25em;
    width: 32px;
    height: 16px;
    text-align: center;
  }
  div {
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    -ms-touch-action: none;
    touch-action: none;
    white-space: nowrap;
    width: 6em;
    position: absolute;
  }
}

.bcfy-favicon {
  height: 1rem;
  width: auto;
}

.video-js.vjs-fluid {
  .vjs-progress-control .vjs-progress-holder {
    margin: 0 2.5rem 0 0.75rem !important;
  }
}

.vjs-wavedisplay {
  &::-webkit-scrollbar {
    height: 0rem;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    outline: 1px solid #fff;
  }
}

.pell-button {
  padding: 0;
}

/* Needed to avoid browser scrolling down too far */
#lookuprecording:target::before {
  content: "";
  display: block;
  height: 70px;
  margin: -70px 0 0;
}

#directiveViewer {
  margin-top: 3em;
  iframe {
    width: 100%;
    height: 70vh;
    border: none;
    background: #fff;
  }
  .modal-footer .input-group {
    width: auto;
  }
}

.ptrn-button {
  img {
    max-height: 2.5rem;
  }
  img:hover, img:focus {
    filter: brightness(92%);
    transition: all 0.5s ease;
  }
}

p.caption {
  font-size: 0.8rem;
}

.input-group .form-control.form-range {
  height: 2.5rem;
  padding: 1rem;
}

.ais-SearchBox-form {
  background: none;
}

.ais-SearchBox-input.form-control {
  padding-left: 2.5rem;
  box-shadow: none;
  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}

.ais-SortBy-select.form-select,
.ais-HitsPerPage-select.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

#option-buttons {
  height: 2.5rem;
}

.ais-Hits-item, .ais-InfiniteHits-item {
  display: block;
  margin-left: -0.5rem;
  padding: 0.5rem;
  background: var(--bs-body-bg-rgb);
  box-shadow: none;
  &.selected {
    background: var(--bs-light);
  }
  p {
    margin-bottom: 0.5rem;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
  .media-player-container {
    margin: 0.25rem;
  }
}

.ais-Highlight-highlighted, .ais-Snippet-highlighted {
  font-style: inherit;
}

.ais-CurrentRefinements--noRefinement > .ais-CurrentRefinements-list {
  display: none;
}

.ais-CurrentRefinements:not(.ais-CurrentRefinements--noRefinement) {
  margin-bottom: 1rem;
}

.ais-CurrentRefinements-item {
  background-color: var(--bs-white);
  color: var(--bs-black);
  .ais-CurrentRefinements-delete {
    color: var(--bs-gray-500);
    margin-top: 0.125rem;
  }
}

.ais-Pagination-list {
  flex-wrap: wrap;
}

audio.call-audio {
  height: 100px;
  width: 100%;
  max-width: 400px;
}

.metadata-modal pre {
  height: 80vh;
}

@include media-breakpoint-up(md) {
  .stream-options {
    max-height: 300px;
    overflow-y: auto;
  }
}

@include media-breakpoint-up(lg) {
  .search-container {
    overflow-y: auto;
    height: 80vh;
  }
  #filters.collapse {
    display: block;
  }
}
