body {
  padding-top: 3.4rem;
  .container {
    padding-top: 1.6rem;
  }
  &.ember-application {
    #loading {
      display: none;
    }
  }
}

iframe#scanner-guide {
  width: 100%;
  height: 1000px;
  border: none;
}

audio {
  max-width: 100%;
  max-height: 3em;
}

html.android {
  body {
    margin-top: 1em;
    font-weight: 400 !important;
    text-rendering: geometricPrecision;
  }
  footer#site-footer {
    display: none;
  }
}

nav.navbar .form-inline .form-check-label {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.em {
  height: 1.25rem;
  width: 1.25rem;
  vertical-align: text-top;
}

.alert {
  p {
    margin: 0;
  }
  a {
    text-decoration: underline;
  }
}

#news-alert {
  border-radius: 0;
  margin-bottom: 0;
}

blockquote {
  font-size: 1em;
  font-style: italic;
}

#searchpane {
  padding-right: 30px;
}

.table {
  th, td {
    padding: 0.25rem !important;
  }
}

ul.nav.nav-tabs {
  margin-top: -1.5rem;
  padding-top: 0.5rem;
  li:first-child {
    margin-left: 1rem;
  }
  &.bg-dark .nav-item .nav-link {
    color: $white;
    &.active, &:hover, &:focus {
      color: $gray-800;
      background-color: $white;
    }
  }
}

.nav-close {
  display: inline-block;
  padding-right: 1.75rem;
  & + span {
    position: relative;
    display: inline-block;
    margin-left: -2rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
  }
}

.overall-container {
  .map-container {
    position: relative;
    padding-top: 1.6rem;
    .leaflet-container {
      margin: 0 1rem;
      height: 75vh;
      color: #000;
      .leaflet-control-layers-list label {
        margin-bottom: 0rem;
      }
      .info.leaflet-control {
        background: rgba(26,26,26,0.7);
        padding: 0.5em 1em;
        text-align: right;
        h4, p {
          color: $light;
          margin: 0.25em 0;
        }
        p {
          font-size: 1rem;
        }
      }
      .leaflet-control-geosearch.bar {
        z-index: 1000;
        max-width: 400px;
        width: 100%;
        position: relative !important;
      }
      .awesome-marker i {
        font-size: 1rem;
      }
    }
    .tab-pane > iframe {
      width: 100%;
      height: 85vh;
      border: none;
    }
  }
  .search-container {
    padding: 1rem;
    #address-search {
      table tr > td {
        width: 50%;
      }
    }
  }

  h3 {
    margin-top: 0;
  }

  label {
    display: block;
  }
}

.accordion {
  .card {
    border: none;
    .card-header {
      padding: 0.5rem 1.25rem;
      margin-bottom: 0.5rem;
      border: $card-border-width solid $card-border-color;
      border-radius: $card-border-radius !important;
      &:last-of-type {
        border-bottom: none;
      }
      a[data-toggle="collapse"] {
        display: block;
        &:hover {
          text-decoration: none;
        }
        &::before {
          @include fa-icon();

          content: $fa-var-caret-down;
          width: 0.75rem;
        }
        &.collapsed::before {
          content: $fa-var-caret-right;
          padding-left: 0.125rem; // to ensure proper centering
        }
      }
      .draggable-handle {
        cursor: pointer;
        color: #777;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem 1rem;
      }
    }
  }
}

#radio-search,
#ucr-search {
  form label {
    font-weight: bold;
    font-style: italic;
  }
  .results {
    margin-top: 1em;
    tr > th {
      width: 33.33333%;
    }
  }
}

#online-streams-list ul {
  line-height: 1;
}


#site-footer {
  margin-top: 1rem;
  .col-sm-7 {
    text-align: right;
  }
}

.articles-list article {
  max-width: 48rem;
}

th.rd-day-head {
  width: 2rem;
}

input#datetimepicker[readonly] {
  background-color: $white;
}

input.flatpickr-mobile {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.stream-options {
  label {
    cursor: pointer;
    margin-bottom: 0.2rem;
  }
}

.stream {
  .title {
    line-height: 1.5;
    margin-bottom: 0;
  }
  .row + audio {
    margin-top: 0.5rem;
  }
}

.stream-player {
  height: 40px;
  width: 100%;
}

.draggable-parent {
  width: 230px;
  height: 216px;
  background: #fff;
  margin-bottom: 1em;
  border: 1px solid $gray-300;
  position: relative;
  .fa-user {
    position: absolute;
    transform: translate(108px, 100px);
  }
  .fa-volume-up {
    position: absolute;
    width: 32px;
    height: 16px;
    text-align: center;
    -ms-touch-action: none;
    touch-action: none;
    span {
      font-family: Arial, sans-serif;
      font-size: 0.75em;
      font-weight: bold;
    }
  }
}

.video-js.vjs-fluid {
  padding-top: 10rem;
  .vjs-progress-control .vjs-progress-holder {
    margin: 0 2.5rem 0 0.75rem !important;
  }
}

.vjs-wavedisplay {
  &::-webkit-scrollbar {
    height: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    outline: 1px solid #fff;
  }
}

.pell-button {
  padding: 0;
}

#directiveViewer {
  margin-top: 3em;
  iframe {
    width: 100%;
    height: 70vh;
    border: none;
    background: #fff;
  }
  form input {
    margin: 0 0.25em;
    padding: 0.4em;
    width: 50%;
  }
  @media (min-width: 992px) {
    .modal-lg {
      max-width: 850px;
    }
  }
}

@include media-breakpoint-up(md) {
  .stream-options {
    max-height: 300px;
    overflow-y: auto;
  }
}

@include media-breakpoint-up(lg) {
  .overall-container {
    display: flex;
    .map-container {
      flex: 1;
      .nav-tabs {
        background-color: $dark !important;
        .nav-item .nav-link {
          color: $white;
          &.active, &:hover, &:focus {
            color: darken($dark, 10%) !important;
            background-color: $white;
          }
        }
      }
      .leaflet-container {
        margin: 0;
        width: 100%;
        height: 85vh;
        .leaflet-control-layers-list label {
          margin-bottom: 0.5rem;
        }
      }
    }
    .search-container {
      max-width: 25vw;
      max-height: 92vh;
      overflow-y: auto;
      .mobile {
        display: none;
      }
    }
  }
}

// April Fools 2019
/*.red-blue-flashing {
  font-weight: bold;
	animation: blinkingText 1s infinite;
}*/

@keyframes blinkingText {
	0% {
	  color: $red;
  }

	49% {
	  color: $blue;
  }

	50% {
	  color: $blue;
  }

	99% {
	  color: $red;
  }

	100% {
	  color: $red;
  }
}
