body {
  padding-top: 3.4rem;
  > .container,
  > .container-fluid {
    padding-top: 1.6rem;
  }
  &.ember-application {
    #loading {
      display: none;
    }
  }
}

iframe#scanner-guide {
  width: 100%;
  height: 1000px;
  border: none;
}

iframe#openmhz-iframe {
  width: 100%;
  height: 60vh;
  border: none;
}

iframe#youtube-player {
  width: 100%;
  height: 315px;
  border: none;
  overflow: hidden;
  margin-bottom: 1em;
}

audio {
  max-width: 100%;
  max-height: 3em;
}

html.android {
  body {
    margin-top: 1em;
    font-weight: 400 !important;
    text-rendering: geometricPrecision;
  }
  footer#site-footer {
    display: none;
  }
}

nav.navbar .form-inline .form-check-label {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.em {
  height: 1.25rem;
  width: 1.25rem;
  vertical-align: text-top;
}

.alert {
  p {
    margin: 0;
  }
  a {
    text-decoration: underline;
  }
}

#news-alert {
  border-radius: 0;
  margin-bottom: 0;
}

#searchpane {
  padding-right: 30px;
}

.table {
  th, td {
    padding: 0.25rem !important;
  }
}

ul.nav.nav-tabs {
  margin-top: -1.5rem;
  padding-top: 0.5rem;
  li:first-child {
    margin-left: 1rem;
  }
}

.nav-close {
  display: inline-block;
  padding-right: 1.75rem;
  & + span {
    position: relative;
    display: inline-block;
    margin-left: -2rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
  }
}

.modal-fullwidth {
  max-width: 98% !important;
}

.overall-container {
  .map-container {
    position: relative;
    padding-top: 1.6rem;
    .leaflet-container {
      margin: 0 1rem;
      height: 75vh;
      color: #000;
      .leaflet-control-layers-list label {
        margin-bottom: 0rem;
      }
      .info.leaflet-control {
        background: rgba(var(--bs-dark-rgb), 0.7);
        padding: 0.5em 1em;
        text-align: right;
        h4, p {
          color: var(--bs-light);
          margin: 0.25em 0;
        }
        p {
          font-size: 1rem;
        }
      }
      .leaflet-popup-content h4 {
        font-size: 1rem;
      }
      .leaflet-popup-content p {
        margin: 0;
      }
      .leaflet-control-geosearch.bar {
        z-index: 1000;
        max-width: 400px;
        width: 100%;
        position: relative !important;
      }
      .awesome-marker i {
        font-size: 1rem;
      }
    }
    .tab-pane > iframe {
      width: 100%;
      height: 85vh;
      border: none;
    }
  }
  .search-container {
    padding: 1rem;
    #address-search {
      table tr > td {
        width: 50%;
      }
    }

    .accordion {
      .accordion-item {
        border: none;
        .accordion-header {
          .draggable-handle {
            cursor: pointer;
            color: #777;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem 1rem;
          }
        }
        .accordion-body {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  h3 {
    margin-top: 0;
  }

  label {
    display: block;
  }
}

#radio-search,
#ucr-search {
  form label {
    font-weight: bold;
    font-style: italic;
  }
  .results {
    margin-top: 1em;
    tr > th {
      width: 33.33333%;
    }
  }
}

#online-streams-list ul {
  line-height: 1;
}


#site-footer {
  margin-top: 1rem;
  .col-sm-7 {
    text-align: right;
  }
}

.articles-list article {
  max-width: 48rem;
}

th.rd-day-head {
  width: 2rem;
}

input#datetimepicker[readonly] {
  background-color: var(--bs-white);
}

input.flatpickr-mobile {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.stream-options {
  label {
    cursor: pointer;
    margin-bottom: 0.2rem;
  }
}

.stream {
  .title {
    line-height: 1.5;
    margin-bottom: 0;
  }
  .row + audio {
    margin-top: 0.5rem;
  }
}

.stream-player {
  height: 40px;
  width: 200px !important;
}

.draggable-parent {
  width: 230px;
  height: 216px;
  margin-bottom: 1em;
  border: 1px solid var(--bs-gray-300);
  position: relative;
  .fa-user {
    position: absolute;
    transform: translate(108px, 100px);
  }
  .fa-volume-high {
    vertical-align: -0.25em;
    width: 32px;
    height: 16px;
    text-align: center;
  }
  div {
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    -ms-touch-action: none;
    touch-action: none;
    white-space: nowrap;
    width: 6em;
    position: absolute;
  }
}

.bcfy-favicon {
  height: 1rem;
  width: auto;
}

.video-js.vjs-fluid {
  padding-top: 10rem;
  .vjs-progress-control .vjs-progress-holder {
    margin: 0 2.5rem 0 0.75rem !important;
  }
}

.vjs-wavedisplay {
  &::-webkit-scrollbar {
    height: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    outline: 1px solid #fff;
  }
}

.pell-button {
  padding: 0;
}

/* Needed to avoid browser scrolling down too far */
#lookuprecording:target::before {
  content: "";
  display: block;
  height: 70px;
  margin: -70px 0 0;
}

#directiveViewer {
  margin-top: 3em;
  iframe {
    width: 100%;
    height: 70vh;
    border: none;
    background: #fff;
  }
  .modal-footer .input-group {
    width: auto;
  }
}

.ptrn-button {
  img {
    display: inline-block;
    width: 272px;
    height: 42px;
  }
  img:hover, img:focus {
    filter: brightness(92%);
    transition: all 0.5s ease;
  }
}

p.caption {
  font-size: 0.8rem;
}

.input-group .form-control.form-range {
  height: 2.5rem;
  padding: 1rem;
}

.ais-Hits-item, .ais-InfiniteHits-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--bs-body-bg-rgb);
  p {
    margin-bottom: 0.5rem;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}

.ais-Highlight-highlighted, .ais-Snippet-highlighted {
  font-style: inherit;
}

.ais-CurrentRefinements--noRefinement > .ais-CurrentRefinements-list {
  display: none;
}

.ais-CurrentRefinements:not(.ais-CurrentRefinements--noRefinement) {
  margin-bottom: 1rem;
}

.ais-Pagination-list {
  flex-wrap: wrap;
}

audio.call-audio {
  height: 100px;
  width: 100%;
  max-width: 400px;
}

@include media-breakpoint-up(md) {
  .stream-options {
    max-height: 300px;
    overflow-y: auto;
  }
  #filtersHeading > .accordion-button {
    color: var(--bs-accordion-active-color);
    background-color: var(--bs-accordion-active-bg);
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    &::after {
      background-image: var(--bs-accordion-btn-active-icon);
      transform: var(--bs-accordion-btn-icon-transform);
    }
  }
  #filters.collapse {
    display: block;
  }
}

@include media-breakpoint-up(lg) {
  .overall-container {
    display: flex;
    .map-container {
      flex: 1;
      .leaflet-container {
        margin: 0;
        width: 100%;
        height: 85vh;
        .leaflet-control-layers-list label {
          margin-bottom: 0.5rem;
        }
      }
    }
    .search-container {
      max-width: 25vw;
      max-height: 92vh;
      overflow-y: auto;
      .mobile {
        display: none;
      }
    }
  }
}
