.map-container {
  .leaflet-container {
    height: 80vh;
    color: #000;
    .leaflet-control-layers-list label {
      margin-bottom: 0.5rem;
    }
    .info.leaflet-control {
      background: rgba(var(--bs-dark-rgb), 0.7);
      padding: 0.5em 1em;
      text-align: right;
      h4, p {
        color: var(--bs-light);
        margin: 0.25em 0;
      }
      p {
        font-size: 1rem;
      }
    }
    .leaflet-popup-content h4 {
      font-size: 1rem;
    }
    .leaflet-popup-content p {
      margin: 0;
    }
    .leaflet-control-geosearch.bar {
      z-index: 1000;
      max-width: 400px;
      width: 100%;
      position: relative !important;
    }
    .awesome-marker i {
      font-size: 1rem;
    }
  }
  .tab-pane iframe {
    width: 100%;
    height: 80vh;
    border: none;
  }
}
.search-container {
  #address-search {
    table tr > td {
      width: 50%;
    }
  }

  .accordion {
    .accordion-item {
      border: none;
      .accordion-header {
        .draggable-handle {
          cursor: pointer;
          color: #777;
          position: absolute;
          top: 0;
          right: 0;
          padding: 0.5rem 1rem;
        }
      }
      .accordion-body {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  h3 {
    margin-top: 0;
  }

  label {
    display: block;
  }
}

@include media-breakpoint-up(lg) {
  .search-container {
    overflow-y: auto;
    height: 80vh;
  }
}
