<div {{did-insert (fn this.initializePlayer @stream)}}>
    <p><small>Please note it might take a few seconds for the audio to load once pressing play.</small></p>
    <p id="icecast-metadata"></p>
    <audio id="icecast-audio" controls>
        Your browser does not support HTML5 audio.
    </audio>
    <table id="icecast-metadataQueue"></table>
</div>
