<header>
  <h2 id="title">Welcome to CrimeIsDown.com</h2>
  <ul>
    <li>{{#link-to "map"}}Incident Map{{/link-to}}</li>
    <li>{{#link-to "audio"}}Scanner Audio{{/link-to}}</li>
    <li>{{#link-to "guide"}}Scanner Guide{{/link-to}}</li>
    <li>{{#link-to "directives"}}CPD Directive Diffs{{/link-to}}</li>
  </ul>
</header>

{{outlet}}
