<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to "index" class="navbar-brand"}}CrimeIsDown.com{{/link-to}}
      </div>

      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
          {{#nav-link-to "map" id="map-link"}}Incident Map{{/nav-link-to}}
          {{#nav-link-to "audio" id="audio-link"}}Scanner Audio{{/nav-link-to}}
          {{#nav-link-to "guide" id="guide-link"}}Scanner Guide{{/nav-link-to}}
          {{#nav-link-to "directives" id="directives-link"}}Police Directive Changes{{/nav-link-to}}
        </ul>
      </div>
    </div>
  </nav>
</header>

<script>
  $(document).on('click','.navbar-collapse.in',function (e) {
    if ($(e.target).is('a') && ( $(e.target).attr('class') != 'dropdown-toggle' ) ) {
      $(this).collapse('hide');
    }
  });
  $(function () {
    if (typeof Android !== 'undefined') {
      $('html').addClass('android');
      $('body').scrollTop(0);
    }
  });
</script>

{{outlet}}

<footer id="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <p>
          Copyright &copy; 2014-2017 CrimeIsDown.com. All Rights Reserved.
        </p>
      </div>
      <div class="col-sm-7">
        <a href="https://twitter.com/CrimeIsDown">Follow on Twitter</a> |
        <a href="https://www.facebook.com/crimeisdown">Like on Facebook</a> |
        <a href="https://www.patreon.com/EricTendian">Support on Patreon</a> |
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=4SHEMCHJPV8KY&lc=US&item_name=CrimeIsDown%2ecom&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted">Donate thru Paypal</a>
      </div>
    </div>
  </div>
</footer>
