<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    {{#link-to "index" class="navbar-brand"}}CrimeIsDown.com{{/link-to}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {{#link-to "map" id="map-link" class="nav-link"}}Incident Map{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "audio" id="audio-link" class="nav-link"}}Scanner Audio{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "guide" id="guide-link" class="nav-link"}}Scanner Guide{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "directives" id="directives-link" class="nav-link"}}Police Directive Changes{{/link-to}}
        </li>
        <li class="nav-item">
          <a href="https://blog.crimeisdown.com" id="blog-link" class="nav-link">Blog</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script>
  $(document).on('click','.navbar-collapse.in',function (e) {
    if ($(e.target).is('a') && ( $(e.target).attr('class') != 'dropdown-toggle' ) ) {
      $(this).collapse('hide');
    }
  });
</script>

{{outlet}}

<footer id="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5">
        <p>
          Copyright &copy; 2014-2017 CrimeIsDown.com. All Rights Reserved.
        </p>
      </div>
      <div class="col-sm-7">
        <a href="https://twitter.com/CrimeIsDown">Follow on Twitter</a> |
        <a href="https://www.facebook.com/crimeisdown">Like on Facebook</a> |
        <a href="https://www.patreon.com/EricTendian">Support on Patreon</a> |
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=4SHEMCHJPV8KY&lc=US&item_name=CrimeIsDown%2ecom&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted">Donate thru Paypal</a>
      </div>
    </div>
  </div>
</footer>
