{{page-title "Scanner Audio"}}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-md-12 d-lg-none">
          <p><em><a href="#lookuprecording">Jump to scanner recording download</a></em></p>
        </div>
        <div class="col-md-12 mb-3">
          <VirtualScanner @streams={{this.model}} />
        </div>
        <div class="col-md-12">
          <h3>General #ChicagoScanner feed</h3>
          <p>Scanner feed of ISP Dist. Chicago, Metra PD, CPD Citywides, various CFD incident channels, Marine 16, and aviation UNICOM. Scan list subject to change.</p>
          <iframe id="youtube-player" title="YouTube scanner feed" src="https://www.youtube.com/embed/live_stream?channel=UCUS-tAwCyxBrrA3FtSjH2NA" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
        <div class="col-md-12">
          <div class="accordion" id="accordion">
            <MapTools />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-md-6">
          <h3 id="lookuprecording">Look up scanner recording</h3>
          <AudioSearch />
        </div>
        <div class="col-md-6">
          <p>
            <a href="https://www.patreon.com/bePatron?u=4805116" referrerpolicy="unsafe-url" class="ptrn-button"><img src="/img/become-a-patron.png" alt="Become a Patron!"></a>
          </p>
          <table class="table">
            <thead>
            <tr>
              <th>Cost</th>
              <th>Downloads / day</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Free</td>
              <td>5</td>
            </tr>
            <tr>
              <td><a href="https://www.patreon.com/checkout/EricTendian/1260234" target="_blank" rel="noopener noreferrer">$1/mo Patron</a></td>
              <td>10</td>
            </tr>
            <tr>
              <td><a href="https://www.patreon.com/checkout/EricTendian/1260095" target="_blank" rel="noopener noreferrer">$5/mo Patron</a></td>
              <td>20</td>
            </tr>
            <tr>
              <td><a href="https://www.patreon.com/checkout/EricTendian/1260096" target="_blank" rel="noopener noreferrer">$10/mo Patron</a></td>
              <td>30</td>
            </tr>
            <tr>
              <td><a href="https://www.patreon.com/checkout/EricTendian/1260098" target="_blank" rel="noopener noreferrer">$20/mo Patron</a></td>
              <td>50</td>
            </tr>
            <tr>
              <td><a href="https://www.patreon.com/checkout/EricTendian/1260099" target="_blank" rel="noopener noreferrer">$50/mo Patron</a></td>
              <td>Unlimited</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" id="online-streams-list">
          <h2>Online Streams</h2>
          <h4>From CrimeIsDown.com</h4>
          <p>These streams allow individual audio clips to be played, so you can rewind easily without need to download a full archive. They are more like a virtual police scanner.</p>
          <ul>
            <li>
              <p><a href="https://openmhz.com/system/sc21102" target="_blank" rel="noopener noreferrer">STARCOM21</a></p>
            </li>
            <li>
              <p><a href="https://openmhz.com/system/chi_oemc" target="_blank" rel="noopener noreferrer">Chicago OEMC 800MHz (NEW)</a></p>
            </li>
            <li>
              <p><a href="https://openmhz.com/system/chi_cfd" target="_blank" rel="noopener noreferrer">Chicago Fire Department</a></p>
            </li>
            <li>
              <p><a href="https://openmhz.com/system/chi_cpd" target="_blank" rel="noopener noreferrer">Chicago Police Department</a></p>
            </li>
            <li>
              <p><a href="https://www.broadcastify.com/calls/" target="_blank" rel="noopener noreferrer">Broadcastify Calls</a></p>
            </li>
          </ul>
          <h4>Broadcastify feed lists by county</h4>
          <ul>
            <li>
              <p><a href="https://www.broadcastify.com/listen/ctid/606" target="_blank" rel="noopener noreferrer">Cook County (includes Chicago)</a></p>
            </li>
            <li>
              <p><a href="https://www.broadcastify.com/listen/ctid/639" target="_blank" rel="noopener noreferrer">Lake County (north suburbs)</a></p>
            </li>
            <li>
              <p><a href="https://www.broadcastify.com/listen/ctid/612" target="_blank" rel="noopener noreferrer">DuPage County (west suburbs)</a></p>
            </li>
            <li>
              <p><a href="https://www.broadcastify.com/listen/ctid/635" target="_blank" rel="noopener noreferrer">Kane County (far west/northwest suburbs)</a></p>
            </li>
            <li>
              <p><a href="https://www.broadcastify.com/listen/ctid/689" target="_blank" rel="noopener noreferrer">Will County (south/southwest suburbs)</a></p>
            </li>
          </ul>
          <h4>Other Sources</h4>
          <ul>
            <li>
              <p><a href="https://www.liveatc.net/search/?icao=kord" target="_blank" rel="noopener noreferrer">LiveATC O'Hare Airport</a></p>
            </li>
            <li>
              <p><a href="https://www.liveatc.net/search/?icao=kmdw" target="_blank" rel="noopener noreferrer">LiveATC Midway Airport</a></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
