<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <SearchRadioids />
      <h4>Relevant links</h4>
      <ul>
        <li><a href="http://www.chicagofiremap.net/p/ems.html">EMS Triage Codes (Green/Yellow/Red/Black)</a></li>
        <li><a href="http://chicagoareafire.com/blog/wp-content/uploads/2016/05/Battalion-Map.pdf">CFD Fire Districts/Battalions map</a></li>
        <li><a href="http://chicagoareafire.com/blog/wp-content/uploads/2016/05/Field-Chief-Map.pdf">CFD EMS Districts map</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Chicago_Fire_Department#Alarm_assignments">CFD Response Types</a> (<a href="https://news.wttw.com/sites/default/files/article/file-attachments/C.F.D._STRUCTURE_FIRE_ASSIGNMENTS_.pdf">additional info, may be outdated</a>)</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6">
      <SearchUcrcodes />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>Scanner Guide</h2>
      <p><a href="https://mozilla.github.io/pdf.js/web/viewer.html?file=https://crimeisdown.com/data/ChicagoScannerGuide.pdf" target="_blank" rel="noopener noreferrer">Open the viewer in a new window</a> or <a href="https://crimeisdown.com/data/ChicagoScannerGuide.pdf" target="_blank" rel="noopener noreferrer">Download the PDF</a>.</p>
      <iframe id="scanner-guide" title="Scanner guide" src="https://mozilla.github.io/pdf.js/web/viewer.html?file=https://crimeisdown.com/data/ChicagoScannerGuide.pdf"></iframe>
    </div>
  </div>
</div>