<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      {{search-radioids}}
    </div>
    <div class="col-sm-12 col-md-6">
      {{search-ucrcodes}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>Scanner Guide</h2>
      <p><a href="https://mozilla.github.io/pdf.js/web/viewer.html?file=https://crimeisdown.com/data/ChicagoScannerGuide.pdf" target="_blank">Open the viewer in a new window</a> or <a href="https://crimeisdown.com/data/ChicagoScannerGuide.pdf" target="_blank">Download the PDF</a>.</p>
      <iframe id="scanner-guide" src="https://mozilla.github.io/pdf.js/web/viewer.html?file=https://crimeisdown.com/data/ChicagoScannerGuide.pdf"></iframe>
    </div>
  </div>
</div>
