<div class="col-sm-12 col-md-6">
  {{search-radioids}}
</div>
<div class="col-sm-12 col-md-6">
  {{search-ucrcodes}}
</div>

<div class="col-sm-12">
  <h2>Scanner Guide Coming Soon</h2>
  Contact us for early access.
</div>
