<div class="col-sm-12 col-md-6">
  {{search-radioids}}
</div>
<div class="col-sm-12 col-md-6">
  {{search-ucrcodes}}
</div>

<div class="row" id="getting-started">
  <header class="col-md-12">
    <h1 id="getting-started-with-chicagoscanner">Getting Started with #ChicagoScanner</h1>
    <p>Welcome to the Chicago scanner community! We've prepared these set of steps for you to get started.</p>
  </header>
  <section class="col-md-6">
    <h2 id="steps-to-becoming-a-successful-scanner-enthusiast">Steps to becoming a successful scanner enthusiast</h2>
    <h3 id="scanner-ethics">Step 0: Scanner Ethics</h3>
    <p>
      As anyone with a scanner knows, what is heard on the air may be confidential or sensitive, either to victims, police/fire, or the general public. Thus, ethics is very important when listening to scanner traffic. Here at CrimeIsDown.com, we have developed our own code of ethics around listening to and reporting information heard on the scanner.
      <a href="#scanner-ethics">You can view our set of rules here.</a>
    </p>
    <h3 id="buy-a-scanner">Step 1: Buy a Scanner</h3>
    <p>So you want to listen to CPD or CFD dispatches? You'll need a scanner to do this. But not just any scanner - we recommend getting a scanner with P25 digital decoding, as well as trunking capability, if you want to ensure you can hear all the different conversations. CPD uses convential analog channels around 460MHz, while CFD uses conventional digital channels around 477MHz. CPD also has a trunked system (Motorola) for special units.</p>
    <p>
      If you need help choosing a scanner,
      <a href="http://wiki.radioreference.com/index.php/Scanner_decision" target="_blank" title="Scanner decision">check out RadioReference's guide.</a>
    </p>
    <h3 id="program-the-scanner">Step 2: Program the Scanner</h3>
    <p>
      Once you have a scanner, you'll need to program it. We recommend using
      <a href="http://www.radioreference.com/apps/db/?ctid=606#cid-1327" target="_blank">the RadioReference database for Cook County</a>
      and adding in frequencies for the following (see below). If you own one of the Uniden DMA scanners (e.g. BCD396XT) we will be publishing a set of systems you can download and import.
    </p>
    <ul>
      <li><strong>Chicago Police Department</strong> - Zones 1-13, Citywide 1-8</li>
      <li><strong>Chicago Fire Department</strong> - Fire Main+Englewood, EMS Main+Englewood, Citywide Fire, EMS Command, Fireground</li>
      <li><strong>Chicago Transit Authority</strong> - All CTA lines, bus supervisors North+South</li>
      <li><strong>Aviation</strong> - Helicopter UNICOM, Fixed-Wing UNICOM</li>
      <li><strong>Chicago Media</strong> - As you see fit <a href="http://www.radioreference.com/apps/db/?aid=2820" target="_blank">from this list.</a></li>
      <li><strong>CPD Trunked</strong> - If you're up for the challenge, add in the <a href="http://www.radioreference.com/apps/db/?sid=581" target="_blank">Chicago Public Safety and Services trunked system</a> as well.</li>
    </ul>
    <h3 id="start-scanning">Step 3: Start Scanning!</h3>
    <p>Got your scanner programmed? Time to start scanning! There's a lot you could potentially listen to, but for the most action we recommend you listen to the following:</p>
    <ul>
      <li>CPD Zones 5, 6, 7, 8, 9, 10, 12, 13</li>
      <li>CPD Citywide 1, 2, 6 (10-1 simulcasts go out on all citywides)</li>
      <li>CFD Fire Main, Fire Englewood, EMS Main, EMS Englewood</li>
      <li>Helicopter UNICOM</li>
      <li>CPD Trunked TG352 (Mayor's detail), TG45072 (Marine Unit)</li>
    </ul>
    <p>
      Of course, there may be incidents which take place on a frequency other than these, so check our
      <a href="tools.html#socialmedia">Social Media Dashboard</a>
      to see what other folks are listening to.
    </p>
    <h3 id="make-tweaks">Step 4: Make Tweaks and Adjustments As Needed</h3>
    <p>
      Often you may need to make adjustments to the programming, antenna, or other equipment in order to hear more transmissions or hear them more clearly. We don't have any specific advice on what tweaks to make, but do
      <a href="about-police-scanners.html#improvements">check out our Scanning 101 page</a>
      and see if you can find something helpful.
    </p>
    <h3 id="record-what-you-hear">Step 5: Record What You Hear</h3>
    <p>
      Once you have a good scanner setup and you're listening, why not share what you hear with the world? There's a large scanner community on Twitter, providing breaking news to journalists and others. Check out the hashtag
      <a href="https://twitter.com/search?f=realtime&amp;q=%23ChicagoScanner" target="_blank">#ChicagoScanner</a>
      and join in. Definitely follow
      <a href="https://twitter.com/Chicago_Scanner" target="_blank">@Chicago_Scanner</a>
      and
      <a href="https://twitter.com/SPOTNEWSonIG" target="_blank">@SPOTNEWSonIG</a>
      for great scanner tweets. Use our
      <a href="tools.html">scanner tools</a>
      to include more information in your tweets.
    </p>
    <p>
      Note that when tweeting/reading tweets:
      "LOUD REPORTS are gunshots heard by police officers, which is different than Shots Fired, which are called in by the good citizen." -
      <a href="https://twitter.com/SPOTNEWSonIG" target="_blank">@SPOTNEWSonIG</a>
    </p>
  </section>
  <div class="col-md-6">
    <h2 id="additional-links-and-resources">Additional links and resources</h2>
    <h3 id="chicago-area-frequency-databases-lists">Chicago-area frequency databases/lists</h3>
    <ul>
      <li><a href="http://jts203.com/2-IllinoisFrequencyLists.htm" target="_blank">Illinois Frequency Lists</a></li>
      <li><a href="http://www.carmachicago.com/profiles/index.html" target="_blank">CARMA Profiles</a></li>
      <li><a href="http://www.carmachicago.com/profiles/chgofreq2.pdf" target="_blank">City of Chicago Communications Guide</a></li>
      <li><a href="http://www.carmachicago.com/profiles/CPD%20Radio%20Nrs.pdf" target="_blank">CPD Radio and Unit ID Numbers</a></li>
      <li><a href="http://www.radioreference.com/apps/db/?ctid=606" target="_blank">Cook County, Illinois (IL) Scanner Frequencies and Radio Frequency Reference</a></li>
      <li><a href="http://www.radioreference.com/apps/db/?sid=581" target="_blank">Chicago Public Safety and Services Trunking System, Chicago, Illinois - Scanner Frequencies</a></li>
      <li><a href="http://www.carmachicago.com/profiles/CPDID03A.pdf" target="_blank">CPD Radio ID list 03A</a></li>
    </ul>
    <h3 id="mapping-tools">Mapping tools</h3>
    <ul>
      <li><a href="tools.html" target="_blank">Address to CPD Radio Zone Lookup</a></li>
      <li><a href="http://boundaries.tribapps.com/" target="_blank">You are here. Chicagoland political boundaries</a></li>
      <li><a href="http://crime.chicagotribune.com/" target="_blank">Crime in Chicagoland by the Chicago Tribune</a></li>
      <li><a href="http://interactive.wbez.org/curiouscity/redx/index.html" target="_blank">Red X Buildings</a></li>
      <li><a href="http://www.chicagocityscape.com/" target="_blank">Chicago Cityscape</a></li>
      <li><a href="http://edifice.opencityapps.org/" target="_blank">Edifice - building maps</a></li>
      <li><a href="http://chicagobuildings.org/" target="_blank">Vacant and Abandoned Building Finder</a></li>
    </ul>
    <h3 id="scanner-manuals">Scanner Manuals/Guides</h3>
    <ul>
      <li><a href="http://marksscanners.com/396XT/396xt.shtml" target="_blank">Easier to Read BCD396XT Digital Scanner Manual</a></li>
      <li><a href="http://kalcountyraces.org/docs/Training/Radio/SmartZone101.html" target="_blank">How a SmartZone system works</a></li>
      <li><a href="http://wiki.radioreference.com/index.php/Manuals_and_Publications" target="_blank">RadioReference Manual List</a></li>
    </ul>
    <h3 id="scanner-recordings">Scanner Recordings</h3>
    <p>You may need to right click and download the MP3 file if it does not play in your browser.</p>
    <ul>
      <li><a href="http://www.broadcastify.com/listen/ctid/606" target="_blank">Cook County Illinois Live Audio Feeds</a></li>
      <li><a href="https://www.youtube.com/watch?v=r7YVYmnBaCM" target="_blank">Chicago Mass Shooting Cornell Square Park EMS Radio Traffic 9/19/13</a></li>
      <li><a href="http://clyp.it/kj2xdske" target="_blank">Chicago Police Zone 8 - 8:55pm Aug 24 - Clyp</a></li>
      <li><a href="http://clyp.it/kyega4w2" target="_blank">10-1 at 80th and Avalon - Aug, 26 2014 - Clyp</a></li>
      <li><a href="http://clyp.it/mvf3zfbd" target="_blank">7204 S Lowe - 10-1, officer shot &amp; standoff</a></li>
      <li><a href="http://clyp.it/ute5duq0" target="_blank">Fatal pursuit, 4001 W Ogden</a></li>
      <li><a href="http://shortwaveamerica.blogspot.com/2013/04/chicago-police-department.html" target="_blank">Chicago Police Officer written up for lack of radio discipline</a></li>
      <li><a href="http://clyp.it/lqzcoo0z" target="_blank">"Santa Claus just set a car on fire"</a></li>
      <li><a href="/recordings/chicago_brownfriday_protest_cw6_20141128_1147-1247_recording.mp3" target="_blank">#BrownFriday protest - CW6 audio, 11:47am - 12:47pm</a></li>
      <li><a href="/recordings/chicago_brownfriday_protest_cw6_20141128_1207_stingray_recording.mp3" target="_blank">#BrownFriday protest - CW6 audio, 12:07pm, CPD hints at possible Stingray use</a>  (<a href="http://clyp.it/sv23cozu" target="_blank">alternate mirror</a>)</li>
    </ul>
    <h3 id="journalism">Journalism</h3>
    <ul>
      <li><a href="http://heyjackass.com/"><strong>HeyJackass.com - Chicago Murder, Crime &amp; Mayhem Stats</strong></a></li>
      <li><a href="http://graphics.chicagotribune.com/under-the-gun/2014/">Chicago Under The Gun - Chicago Tribune</a></li>
      <li><a href="http://www.chicagotribune.com/news/local/breaking/">Chicago Tribune Breaking News</a></li>
      <li><a href="http://chicago.suntimes.com/category/7/71/news/crime/">Chicago Sun-Times Crime News</a></li>
      <li><a href="http://www.thedailybeast.com/articles/2014/04/22/how-chicago-became-chiraq.html">How Chicago Became 'Chiraq'</a></li>
      <li><a href="http://www.economist.com/blogs/democracyinamerica/2014/05/crime-statistics-chicago">"Deceptive numbers" - Crime statistics in Chicago</a></li>
      <li><a href="http://www.chicagomag.com/Chicago-Magazine/May-2014/Chicago-crime-rates/">The Truth About Chicago’s Crime Rates</a></li>
      <li><a href="http://crime.chicagotribune.com/">Crime in Chicagoland - Data Journalism</a></li>
      <li><a href="http://www.chicagotribune.com/news/opinion/plan/ct-edit-xproject4a-crime-1027-20131027-story.html">"Curb crime. Save Chicago."</a></li>
      <li><a href="http://www.chicagotribune.com/news/opinion/editorials/ct-plan-of-chicago-edit-0921-bd-20140921-story.html">"A new Plan of Chicago: 12 ways to heal a city"</a></li>
      <li><a href="http://guncrisis.org/principles/">GunCrisis.org Reporting Principles and Practices</a></li>
      <li><a href="http://howardowens.com/2013/09/23/the-batavians-basic-rules-for-scanner-reporting/">Batavian's basic rules for scanner reporting</a></li>
      <li><a href="http://www.cmsimpact.org/journalism">Set of Principles in Fair Use for Journalism</a></li>
    </ul>
  </div>
</div>

<div class="row" id="scanner-ethics">
  <div class="col-md-12">
    <h1 id="crimeisdown-code-of-ethics">CrimeIsDown.com Code of Ethics</h1>
    <p>
      Welcome to the Chicago scanner community! We've prepared these set of steps for you to get started. This code of ethics is inspired by Howard Owens's
      <a href="http://howardowens.com/2013/09/23/the-batavians-basic-rules-for-scanner-reporting/" target="_blank">"The Batavian’s basic rules for scanner reporting"</a>
      and the
      <strong>
        <a href="http://www.spj.org/ethicscode.asp" target="_blank">Society of Professional Journalists' Code of Ethics</a>
      </strong>
      which applies to any kind of reporting. This code is meant to be an extension of that code of ethics, specifically targeted at the nuances of sharing what we hear on the police scanner. Note that this is merely a guide, not a set of rules which must be followed every single time. Take this code in full and know that CrimeIsDown.com encourages anyone tweeting out what they hear on the scanner to do so ethically by following this code.
    </p>
    <h3 id="report-the-truth">Report the truth</h3>
    <p>Scanner reporting is often controversial and can be quite inaccurate at times. We seek to provide truth and clarity on situations, not muddy them further. There are some basic guides one can follow to help do this:</p>
    <ul>
      <li>
        <strong>Keep in mind this is preliminary information and is an incomplete picture of what is actually happening.</strong>
      </li>
      <li>
        <strong>Do provide in-progress and accurate information about newsworthy emergency situations.</strong>
      </li>
      <li>
        <strong>Don't take anything heard on the scanner as official information.</strong>
      </li>
      <li>
        <strong>Feel free to talk with or alert your followers, ensuring they are aware what is being reported comes from a scanner, thus is not to be taken as official or fact.</strong>
      </li>
      <li>
        <strong>Let the police inform the public about how to react to a dangerous situation. If giving personal advice, ensure it is distanced from any official response by the authorities.</strong>
      </li>
    </ul>
    <h3 id="minimize-harm">Minimize harm</h3>
    <p>What gets broadcast on the scanner is often sensitive and sometimes even confidential in nature, thus listeners must exercise good judgement when reporting on what they hear. What should one consider if they are going to have good judgement?</p>
    <ul>
      <li>
        <strong>Basic dispatch information is generally safe.</strong>
      </li>
      <li>
        <strong>Don't broadcast exact police movements/locations in a sensitive situation.</strong>
      </li>
      <li>
        <strong>Don't encourage people to flock to the scene.</strong>
      </li>
      <li>
        <strong>Be sensitive to potential victims. Do not report a possible crime in a way that might identify an individual unless a description is necessary to help identify a fleeing suspect.</strong>
      </li>
      <li>
        <strong>Don't give specific medical conditions of patients. Defer to using the good/fair/serious/critical spectrum, knowing that "stable" is not a condition but rather a lack of changing condition.</strong>
      </li>
    </ul>
    <h3 id="be-accountable">Be accountable</h3>
    <p>As a reporter of breaking news, information can come from multiple sources and can be frequently changing. Ethical scanner reporters must take responsibility for their work and ensure it is as ethically sound as possible.</p>
    <ul>
      <li>
        <strong>Avoid making assumptions whenever possible.</strong>
      </li>
      <li>
        <strong>Always credit your sources.</strong>
      </li>
      <li>
        <strong>It's good to be fast; it's also good to wait.</strong>
      </li>
      <li>
        <strong>Draw conclusions about crimes, criminals, and situations at your own risk.</strong>
      </li>
      <li>
        <strong>"Acknowledge mistakes and correct them promptly and prominently. Explain corrections and clarifications carefully and clearly."</strong>
      </li>
    </ul>
  </div>
</div>

<div class="col-sm-12">
  <h1>Chicago Police Scanner Guide (DRAFT)</h1>
  <iframe src="https://docs.google.com/document/d/1V2uZKvKuGFtHg6SyyFb3303IwjPtaq7HqdH8_tZNwBE/pub?embedded=true"></iframe>
</div>