<h1 id="title">Welcome to CrimeIsDown.com</h1>

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      <h3 style="margin: 0;">Welcome to the brand new CrimeIsDown.com! {{#link-to "map"}}Take me to the Incident Map{{/link-to}}</h3>
    </div>
  </div>
</div>

<div class="row" id="about">
  <header class="col-md-12">
    <h2 id="about-crimeisdown">About CrimeIsDown.com</h2>
  </header>
  <div class="col-md-12">
    <section>
      <h3>Our Mission</h3>
      <p>The purpose of CrimeIsDown.com is to provide police scanner listeners in the Chicago area an easy way to lookup information quickly pertaining to what they hear. Journalists use the site to quickly know what neighborhood and police district an incident is happening in. Scanner enthusiasts use the site to find out what radio zone they should listen to. Average citizens use the site to find out what crime is happening around them and to tune in live.</p>
      <p>We hope to let people decide for themselves whether or not crime is down, based on independent statistics and listening to breaking news.</p>
    </section>
    <section>
      <h3>Why Should You Care About Crime In Chicago?</h3>
      <p>
        We could explain why but there are much better writers out there. Read a piece from the Chicago Tribune entitled <a href="http://www.chicagotribune.com/news/opinion/plan/ct-edit-xproject4a-crime-1027-20131027-story.html">"Curb Crime, Save Chicago"</a> as part of their "New Plan of Chicago" series.
      </p>
      <h4>Organizations Making a Difference</h4>
      <p>
        Check out the organizations below and donate, volunteer, or find other ways to support these organizations. These organizations are being a part of the solution to Chicago's massive [violent] crime problem - join them and accelerate that change. There are many more like these out there - let us know if you want your organization added to this list.
      </p>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li><a href="http://cureviolence.org/" target="_blank">Cure Violence</a></li>
            <li><a href="http://www.change4childreninc.org/" target="_blank">Change 4 Children Inc</a></li>
            <li><a href="http://www.chicagoscitizensforchange.org/" target="_blank">Chicago Citizens for Change</a></li>
            <li><a href="http://embarcchicago.org/" target="_blank">EMBARC</a></li>
            <li><a href="http://fmsupreme.com/" target="_blank">FM Supreme</a></li>
            <li><a href="http://www.igniteone.org/" target="_blank">Ignite One</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li><a href="http://moran-center.org/" target="_blank">Moran Center for Youth Advocacy</a></li>
            <li><a href="http://thekleocenter.org/" target="_blank">The K.L.E.O. Center</a></li>
            <li><a href="http://ragenglewood.org/" target="_blank">R.A.G.E.</a></li>
            <li><a href="http://www.scy-chicago.org/" target="_blank">Strengthening Chicago's Youth</a></li>
            <li><a href="http://youngchicagoauthors.org/blog/" target="_blank">Young Chicago Authors</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <h3>Thank You</h3>
      <p>
        Mapping data comes from the <a href="https://data.cityofchicago.org/">City of Chicago Data Portal</a> and other generous sources which prefer not to be named.
      </p>
      <p>
        We make use of a variety of sources for the information used on the radio ID, online streams, and map pages. The sources are as follows:
      </p>
      <ul>
        <li><a href="http://www.carmachicago.com/">CARMA Chicago</a></li>
        <li><a href="http://www.radioreference.com/">RadioReference Databases</a></li>
        <li><a href="http://www.broadcastify.com/">Broadcastify.com</a></li>
      </ul>
      <p>
        Social media updates come from a variety of hardworking folks, some crime/breaking news reporters and photographers, some news editors, but most importantly hobbyists who listen to the scanners in their free time. Check out some of their Twitter profiles and follow them.
      </p>
      <p>
        <a href="https://twitter.com/EricTendian/lists/crimeisdown">View the #CrimeIsDown list on Twitter</a>
      </p>
    </section>
    <section>
      <h3 id="contact-us">Contact Us</h3>
      <p>
        <a href="https://twitter.com/CrimeIsDown">Follow @CrimeIsDown on Twitter</a> to get crime news and updates from CrimeIsDown.com.
      </p>
      <p>
        Contact <a href="https://twitter.com/EricTendian">Eric Tendian</a> (eric [at] crimeisdown.com) for support with the website and other inquiries. Please consider
        clicking the Donate button at the bottom of the page and donating a small sum of money to keep the site up and running.
      </p>
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=4SHEMCHJPV8KY&lc=US&item_name=CrimeIsDown%2ecom&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted" target="_blank"><h2>Support the site by donating here.</h2></a>
      <p>Any donation amount is appreciated! We use the money to pay for web hosting, scanners used for live streaming, and other activities to continue adding features. Those who donate may get to try out exclusive features of the site and get access to all our scanner recordings.</p>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>So is crime really down?</h2>
    <h3>Find out for yourself:</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/EricTendian/lists/CrimeIsDown" data-widget-id="613537792040243200">Tweets from https://twitter.com/EricTendian/lists/CrimeIsDown</a>
  </div>
  <div class="col-md-4">
    <h3><a href="http://heyjackass.com/" target="_blank">HeyJackass.com</a> Crime Stats</h3>
    <p>These are very reliable (but unofficial) crime stats, gathered from scanner reports as well as media. The publisher has zero affiliation with CPD.</p>
    <p>All images were created by HeyJackass.com. This is a very time consuming job, so please visit their website and consider buying from the <a href="http://heyjackass.com/shop/" target="_blank">HeyJackass! shop.</a></p>
  </div>
  <div class="col-md-4">
    <h3>Chicago Media</h3>
    <p>Various links from Chicago-area media covering crime in the city:</p>
    <ul>
      <li><a href="http://www.chicagotribune.com/news/local/breaking/">Chicago Tribune Breaking News</a></li>
      <li><a href="http://chicago.suntimes.com/category/7/71/news/crime/">Chicago Sun-Times Crime News</a></li>
      <li><a href="http://www.dnainfo.com/chicago/topics/crime-mayhem">Crime &amp; Mayhem - DNAinfo.com Chicago</a></li>
      <li><a href="http://crime.chicagotribune.com/">Crime in Chicagoland - Chicago Tribune</a> - current crime stats from CPD</li>
      <li><a href="http://graphics.chicagotribune.com/under-the-gun/2014/">Chicago Under The Gun - Chicago Tribune</a></li>
      <li><a href="http://www.chicagomag.com/Chicago-Magazine/May-2014/Chicago-crime-rates/">The Truth About Chicago’s Crime Rates</a> (also check out subsequent articles)</li>
    </ul>
  </div>
</div>

{{outlet}}
