<div class="map">
  {{incident-map}}
</div>
<hr>
<div class="container">
  <h2>Incidents - Experimental</h2>
  {{incident-table incidents=model.incidents callTypes=model.callTypes agencies=model.agencies}}
</div>