{{outlet}}

<div id="map">
  <div class="row">
    <div class="col-md-12">
      <p><em>Interact with this map or use the search box to find information about a specific address. Police districts
        are outlined in blue.</em></p>
    </div>
  </div>
  <div id="map-row">
    {{incident-map}}
  </div>
  <div id="map-row-placeholder"></div>
  <!--<div class="row">-->
    <!--<div class="col-sm-12 col-md-6">-->
      <!--{search-radioids}-->
    <!--</div>-->
    <!--<div class="col-sm-12 col-md-6">-->
      <!--{search-ucrcodes}-->
    <!--</div>-->
  <!--</div>-->
</div>
