{{outlet}}

<div id="map" class="row">
  <div class="col-md-12">
    <h3>Map of Chicago</h3>
    <!--<p>Interact with this map or use the search box to find information about a specific address. Police districts are outlined in blue.</p>-->
  </div>
  <div class="col-sm-12 col-md-12">
    <div id="map-canvas">
      {{incident-map}}
    </div>
  </div>
  <!--<div class="col-sm-12 col-md-4">-->
    <!--{{!address-lookup}}-->
  <!--</div>-->
  <div class="col-sm-12 col-md-6">
    {{search-radioids}}
  </div>
  <div class="col-sm-12 col-md-6">
    {{search-ucrcodes}}
  </div>
</div>